:root {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  background-color: #fff1dc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff1dc;
}

#root {
  min-height: 100vh;
  background-color: #fff1dc;
}
